         <h2 class="sub-header">Categories</h2>
          <div class="container">
            <p><button class="btn btn-lg btn-success my-btn" id="category">Add category</button></p>

            <form class="navbar-form navbar-left cat" method="post" action=<%="/categories"%>>
              <input type="text" class="form-control" name="category">
              <button type="submit" class="btn btn-default my-btn">Submit</button>
            </form>
          </div>


        
          <div class="table-responsive">
            <table class="table categories">

              <tbody>
                <% @categories.each do |cat| %>
                    <tr>
                      <td><a href=<%="/categories/#{cat["id"]}"%>><%= cat["name"]%></a></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        