    <div class="container">

      <form class="form_signin new_article" method="post" action="/create">
        <h2 class="form-signin-heading">New article</h2>

        <div class="input"><input type="text" name="title" class="form-control" placeholder="Title" required autofocus></div>

        <div class="input"><textarea name="content" class="form-control" placeholder="Article content here" required autofocus></textarea></div>

        <div class="category">
            <label for="category">Choose an existing category</label>
            <select class="form-control" name="category">
                <% @categories.each do |cat| %>
                    <option value=<%="#{cat["id"]}"%>><%= "#{cat["name"]}"%></option>
                <% end %>
                <option value=<%="#{@categories.last["id"].to_i + 1}"%>>None</option>
                
            </select>
        </div>

        <label for="new_category">And/or add a new category here: </label>
         <div class="input"><input type="text" name="new_category" class="form-control" placeholder="New category" required autofocus></div>


        <button class="btn" type="submit">Submit</button>
      </form>

    </div> 
