

    <div class="container">

    <br>
    <br>

      <form class="form-signin" method="post" action="/signup">
        <h2 class="form-signin-heading">Sign up for Wiki!</h2>
        <h5>Already have an account?<a class="btn" href="/login">Log in here</a>
        <label for="fname" class="sr-only">First Name</label>
        <input type="text" name="fname" class="form-control" placeholder="First Name" required autofocus>
        <label for="lname" class="sr-only">Last Name</label>
        <input type="text" name="lname" class="form-control" placeholder="Last Name" required autofocus>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> 

