body{
    background-color: #E0E0E0 ;
}

header{
    color: blue;
}

ul {
  text-decoration: none;
}

/* New Article/ Update Article Form */
form.new_article div.input{
  padding: 6px 0;
}

form.new_article input[type=text]{
  padding: 10pt, 0;
}

form.new_article textarea.form-control {
  position: relative;
  height: 400pt;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

div.category {
    padding: 20px 0;
}

/* delete button in form view */
#delete {
  float: right;
}

form#delete a{
  color: #6F6F6F;
}

form#delete a:hover{
  color: black;
  text-decoration: none;
}

/* getting the hover to work over curr user */

ul#header-nav li {
  display: inline-block;
  padding: 12px;
  position: relative;
}

ul#header-nav li a.hover,
ul#header-nav li a:hover {
  background: #EEEEEE;
  border-radius: 0;
}


ul.sub_main_navigation {
  position: absolute;
  top: 52px;
  background: #EEEEEE;
  display: none;
  /*border-radius: 0 0 10px 10px;*/
  padding-top: 10px;
  width: 75px;
}

ul#header-nav li ul.sub_main_navigation li {
  display: block;
  padding: 0 30px 10px 0;
  position: relative;
  left: -25px;
}

/* add category bar */
.cat {
  display: none;
  position: relative;
  left:-20px;
}


.user-update {
  padding: 20px 0;
}

.user-update-form {
  margin-top: 50px;
}

